<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/"><div class="semibold">open</div>flexure<div class="light">industries</div></a>


  </div>

</header>
